<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO Silence</title>

    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="../docs/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <button class="togglebtn" onClick={this.buttonclicked}> <i class="fas fa-bars"></i></button>
        </span>
        <h5><a href="../index.html" class="logo">NO <span>Silence</span></a></h5>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="../index.html" class="nav-links ">Let's Learn The Sign Language
                </a>
            </li>
            <li>
                <a href="./Training.html" class="nav-links">Make Your Own Language
                </a>
            </li>


            <li>
                <a href="./About.html" class="nav-links orange" style="color: #ff9900;">About</a>
            </li>

        </ul>
    </nav>
    <br>
    <h1 class="text-center" style="    font-family: 'Pacifico',cursive;
    "> Know More About Us ?</h1>
    <br><br>




    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center" style="font-size: 26px;margin-bottom: 20px;">Our Goal <span style="color:#ff9900"><i class="fas fa-bullseye"></i></span>

        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">
                Our goal in sign language transfer is to facilitate effective communication and understanding between individuals who use sign language. We aim to bridge language barriers and promote inclusivity by providing resources, tutorials, and training in sign language. Whether it's through educational materials, training programs, or interactive tools, our objective is to empower individuals to express themselves, connect with others, and contribute to a more inclusive and accessible community.
            </h5>
        </div>
    </div>
    <br> <br> <br> <br>
    <br>
    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px;">Make Your Own Sign <span style="color:#ff9900"><i class="fab fa-joomla ml-"></i> </span>
        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">
                The user records his gestures into the model with the help of a camera, and then label that particular gesture.

            </h5>
            <img class="modelpic" src="../docs/Images/TeachableMachine.png">
            <div class="buttoncenter">
                <div>
                    <a href="../templates/Training.html"> <button class="bton  dark mr-5" style="color:ff9900"> <span
                                style="color:#fafafa">Make
                                it Know ! </span> </button></a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <br> <br>

    
    <div class="card" style="width: 70%;margin-left:15%;margin-right:15%">
        <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px; ">Learn New Stuffs <span style="color:#ff9900"><i class="fas fa-chalkboard ml-" style="color:ff9900"></i></span>
        </h5>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;">Tutorials are provided in assisting the user for a smooth learning process it helps to learn ASL alphabets , Most commonly used phrases in day to day communication and some signs of popular places like 'Mumbai' and objects like 'Police Station'
                , etc</h5>

            <div class="buttoncenter">
                <div>
                    <a href="../index.html"> <button class="bton  dark mr-5" style="color:ff9900"> <span
                                style="color:#fafafa">Tutorial </span> </button></a>
                </div>
            </div>

        </div>
    </div>
    <br> <br> <br>
   

    <footer>
        <div class="aboutfooter" style="color:ff9900">
            <div class="grid-container" style="background-color: #394043;align-content: center;">

                <div class="card" style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br> PANKAJ RATHOD
                            <br>
                            <span class="text-center">
                                <a href="">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card" style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br> MEET TALAVIYA
                            <br>

                            <span class="text-center">

                                <a href="">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card" style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">

                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br> SHYAM AGHARA
                            <br>

                            <span class="text-center">
                                <a href="">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href"">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
                <div class="card" style="background-color: #394043;border: none;color:#fafafa;margin-top: 30px;margin-bottom: 30px;">
                    <!-- <h5 class="card-header text-center " style="font-size: 26px;margin-bottom: 20px; ">Tutorial <span
                            style="color:ff9900"><i class="fas fa-chalkboard ml-" style="color:ff9900"></i></span>
                    </h5> -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size: 20px;padding-bottom:-50px;">
                            <br> MAN SHAH
                            <br>

                            <span class="text-center">
                                <a href="">
                                    <img src="https://img.icons8.com/color/30/000000/gmail.png">


                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/color/28/000000/linkedin.png">
                                </a>
                                <a href="">
                                    <img src="https://img.icons8.com/material-sharp/30/000000/github.png">

                                </a>
                            </span>

                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script>
        let mainNav = document.getElementById('js-menu');
        let navBarToggle = document.getElementById('js-navbar-toggle');

        navBarToggle.addEventListener('click', function() {
            mainNav.classList.toggle('active');
        });
    </script>
</body>

</html>